# PCF for possible HX1k VQFP for RV4028 (Risc-V RC2014-alike)

set_io clk 62
set_io rst_n 63

set_io addr[31] 100
set_io addr[30] 99
set_io addr[29] 96
set_io addr[28] 94
set_io addr[27] 90
set_io addr[26] 87
set_io addr[25] 85
set_io addr[24] 82
set_io addr[23] 80
set_io addr[22] 78
set_io addr[21] 73
set_io addr[20] 71
set_io addr[19] 68
set_io addr[18] 65
set_io addr[17] 60
set_io addr[16] 57
set_io addr[15] 97
set_io addr[14] 95
set_io addr[13] 93
set_io addr[12] 91
set_io addr[11] 89
set_io addr[10] 86
set_io addr[9] 83
set_io addr[8] 81
set_io addr[7] 79
set_io addr[6] 74
set_io addr[5] 72
set_io addr[4] 69
set_io addr[3] 66
set_io addr[2] 64
set_io addr[1] 59
set_io addr[0] 56

set_io wr_n 37
set_io rd_n 30
set_io msk_n[0] 53
set_io msk_n[1] 54
set_io iorq_n 28
set_io req_n 40
set_io wait_n 36

set_io int_n  51

set_io data[0] 26
set_io data[1] 24
set_io data[2] 20
set_io data[3] 18
set_io data[4] 12
set_io data[5] 9
set_io data[6] 7
set_io data[7] 3
set_io data[8] 27
set_io data[9] 25
set_io data[10] 21
set_io data[11] 19
set_io data[12] 16
set_io data[13] 10
set_io data[14] 8
set_io data[15] 4

set_io clk2 33
set_io rst2 34

set_io lo_addr_n 52
set_io spare[1] 42
set_io spare[2] 41
set_io spare[3] 29
set_io spare[4] 15
set_io spare[5] 13

set_io led 1
set_io spare[0] 2

set_frequency clk 20