# PCF for possible HX1k VQFP for RV4028 (Risc-V RC2014-alike)

set_io clk 62
set_io rst_n 63

set_io addr[31] 1
set_io addr[30] 2
set_io addr[29] 4
set_io addr[28] 8
set_io addr[27] 12
set_io addr[26] 15
set_io addr[25] 18
set_io addr[24] 20
set_io addr[23] 24
set_io addr[22] 26
set_io addr[21] 28
set_io addr[20] 30
set_io addr[19] 37
set_io addr[18] 51
set_io addr[17] 53
set_io addr[16] 56
set_io addr[15] 3
set_io addr[14] 7
set_io addr[13] 9
set_io addr[12] 10
set_io addr[11] 13
set_io addr[10] 16
set_io addr[9] 19
set_io addr[8] 21
set_io addr[7] 25
set_io addr[6] 27
set_io addr[5] 29
set_io addr[4] 36
set_io addr[3] 40
set_io addr[2] 52
set_io addr[1] 54
set_io addr[0] 57

set_io wr_n 68
set_io rd_n 71
set_io msk_n[0] 60
set_io msk_n[1] 59
set_io iorq_n 73
set_io req_n 66
set_io wait_n 69
set_io lo_addr_n 65
set_io busrq_n 41
set_io busack_n 42

set_io int_n  64

set_io data[0] 78
set_io data[1] 80
set_io data[2] 82
set_io data[3] 85
set_io data[4] 87
set_io data[5] 93
set_io data[6] 95
set_io data[7] 97
set_io data[8] 74
set_io data[9] 79
set_io data[10] 81
set_io data[11] 83
set_io data[12] 86
set_io data[13] 91
set_io data[14] 94
set_io data[15] 96

set_io spare[1] 89
set_io spare[2] 90

set_io led 100
set_io spare[0] 99

set_frequency clk 20